.navbar {
	z-index:10;
	position: fixed;
	width: 100%;
	height: 50px;
	top:0;
	background-color: #ccc;
}

.navbar > a {
	color: #fff;
}

.main {
	padding-top: 50px;
	margin-bottom: 80px;
}

/*마스크*/
#mask {  
  transition: all 0.5s ease;
  position:absolute;  
  width: 100%;
  height: 100%;
  left:0;
  top:0;
  /*padding: 16px;*/
  /*width: 100%;*/
  z-index:5;  
  background-color:#000;  
  display:none;  
}

/*카테고리 토글 영역*/
#category-toggle-area {
	z-index:10; 
	position : fixed;
	width: 100%;
	height: 15px;
	bottom: 0;
	background-color: #ccc;
	transition: all 0.5s ease;
}

.category-toggle-btn{
	z-index:10; 
	width: 30px;
	height: 30px;
	position: absolute;
	top: -15px;
	left: 50%;
	background-color: #ccc;
	transform: rotate(45deg);
}

/*카테고리 메뉴*/
#category-menu-area {
	margin-top: 16px;
	margin-left: 5px;
	/*position: fixed;
	z-index: 10;
	width: 100%;
    height: 20px;
    bottom: 0;
    background-color: #ccc;
    transition: 0.5s;*/
    /*width: 100%;
    height: 100%;*/
    /*overflow: auto;*/
}
/*#test{ 
	width: 300%;
	height: 100%;
	overflow: hidden;
	overflow-x: auto;
}
*/

.category-area {
	display: inline-block;
}

.category-area .category {
	float: left;
	width: 100px;
	height: 90px;
	color: #fff;
	text-align: center;
	border-style: double;
	margin: 5px;
}

.category-area .category-button-area {
	text-align: right;
	margin-right: 5px;
}
/*추억 영역*/
#memory-area {
    padding: 16px;
}

#columns {
	/*한줄에 컬럼픽셀을 몇개씩 배치할 것인지*/
	/*column-count:3;*/

	/*컬럼픽셀을 해당color:  크기로 지정하여 화면 크기 변환에 따라 배치가 달라짐
	*/
	column-width: 350px;
	/*border: 5px solid green;*/
	column-gap: 15;
}

#columns figure {
	display: inline-block;
	/*border: 5px solid red;*/
	border: 1px solid rgba(0,0,0,0.2);
	margin: 0px;
	margin-bottom: 15px;
	padding: 10px;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

#columns figure figcaption{
	border-top: 1px solid rgba(0,0,0,0.2);
	padding: 10px;
	margin-top: 10px;
	color: #888;
}

#columns figure img{
	width: 100%;
	/*opacity: 0.5;*/
}

/*.figure:hover {
	background-color: #555;
}*/

figure > .memory-category-name {
	position: absolute;
	color: #fff;
	padding: 5px;
	border-style: solid;
	border-width: 1px;
	margin: 5px;
}

figure > .memory-explanation {
	z-index: 20;
	position: absolute;
	margin-top: 100px;
	margin-left: 35px;
	background-color: #fff;
	width: 350px;
	height: 50px;
	text-align: center;
	/*opacity: 0.5;*/
}

/*추가 버튼 영역*/
#add-button-area {
	z-index:0; 
	/*background-color: #999;*/
	position : fixed;
	text-align: right;
	width: 100%;
	bottom: 30px;
}

#add-button-area > a {
	margin-right: 10px;
	text-decoration: none;
}

.add-button > img {
	width: 60px;
	height: 60px;
}

.form-title {
	margin: 20px;
	border-bottom: 1px solid #ccc;
}

.form-area {
	margin: 20px;
}

.form-button-wrapper {
	text-align: right;
}

.memory-modal img{
	width: 100%;
}

.memory-button-area {
	padding-top: 10px;
	text-align: right;
}