<head>
  <meta charset="utf-8">
  <title>Contacts Manager</title>
</head>
<body>
  <div ng-app="contactMgr" ng-controller="AppCtrl">
    <!-- <nav class="navbar navbar-inverse navbar-fixed-top">
    <template name="exampleModal">
        <div class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <h4 class="modal-title">Modal example</h4>
                    </div>

                    <div class="modal-body">
                        <p>A modal example.</p>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>
        </div>
    </template> -->
    
    <div class="navbar">
      <a class="navbar-brand" ng-if="!isLogin" ui-sref="index">나의 추억상자 <span class="glyphicon glyphicon-home"></span></a>
      <a class="navbar-brand" ng-if="isLogin" ui-sref="list">나의 추억상자 <span class="glyphicon glyphicon-home"></span></a>
      <login-buttons></login-buttons>
    </div>
    <div class="main" ui-view="layout"></div>
  </div>
</body>

