<!-- <pre>{{categoryForm | json}}</pre> -->

<div class="form-title">
	<h2>추억상자 영역</h2>
</div>
<form class="form-area">
	<div class="form-group">
	  <label for="categoryForm.name">추억상자 이름</label>
	  <input type="text" class="form-control" ng-model="categoryForm.name" placeholder="추억상자 이름을 입력하세요.">
	</div>
	<div class="form-group">
	  <label for="text">추억상자 설명</label>
	  <input type="text" class="form-control" ng-model="categoryForm.explanation" placeholder="추억상자 설명을 입력하세요.">
	</div>
	<div class="form-button-wrapper">
		<a ng-if="mode == 'add'" ng-click="addCategory()" class="btn btn-default btn-sm">
			<span class="glyphicon glyphicon-ok"></span>
		</a>
		<a ng-if="mode == 'modify'" ng-click="modifyCategory()" class="btn btn-default btn-sm">
			<span class="glyphicon glyphicon-ok"></span>
		</a>
	</div>
</form>