<br/>
<br/>
<div class="container">

  <div class="jumbotron">
    <h1>추억상자 프로그램</h1>
    <br/>
    <p class="lead">
	안녕하세요. 개발자 김봉주 입니다.<br/>
	이 프로그램은 자신의 추억을 추억상자 별로 분류해서 저장하고 관리할 수 있는 프로그램 입니다.<br/>
	meteor환경의 angularjs를 사용했고 레이아웃은 ui-router 라이브러리를 사용하여 작업 하였습니다.
    </p>
    <br/>
    <p class="center">당신의 소중한 추억을 추억상자에 담아 보관하세요!</p>
  </div>

  <hr>

  <!-- 열들이 있는 행 예제 -->
  <div class="row-fluid">
    <div class="span4">
      <h3>유저 별 추억관리</h3>
      <p>로그인 기능을 통해 유저별로 추억을 관리 할 수 있는 기능을 제공합니다. 나만의 공간에 나의 추억들을 하나하나 채워나가세요!</p>
      <!-- <p><a class="btn" href="#">자세히 보기 <span class="en-font-family">&raquo;</span></a></p> -->
    </div>
    <div class="span4">
      <h3>나의 추억상자</h3>
      <p>나만의 추억을 그냥 마구잡이로 보관한다면 보기 힘드시겠죠? 추억상자 기능을 통해 나의 추억을 분류해서 정리해보세요. 추억들을 추억상자에 구분없이 볼 수도 있고, 추억상자 별로 볼 수도 있습니다!</p>
      <!-- <p><a class="btn" href="#">자세히 보기 <span class="en-font-family">&raquo;</span></a></p> -->
   </div>
    <div class="span4">
      <h3>슬라이드 쇼 기능</h3>
      <p>(추 후 기능을 추가할 예정입니다.)</p>
      <!-- <p><a class="btn" href="#">자세히 보기 <span class="en-font-family">&raquo;</span></a></p> -->
    </div>
  </div>

  <hr>

</div>