<!-- <pre>{{memoryForm | json}}</pre> -->

<div class="form-title">
	<h2>추억 영역</h2>
</div>
<form class="form-area">
	<div class="form-group">
	  <label for="memoryForm.category">추억상자</label>
	  <select class="form-control" name="selectCategory" ng-model="memoryForm.category">
		<option value="{{category._id}}" ng-repeat="category in categorys">{{category.name}}</option>
	</select>
	</div>
	<div class="form-group">
	  <label for="memoryForm.url">추억 url</label>
	  <input type="text" class="form-control" ng-model="memoryForm.url" placeholder="추억 url을 입력하세요.">
	</div>
	<div class="form-group">
	  <label for="memoryForm.explanation">추억 메모</label>
	  <input type="text" class="form-control" ng-model="memoryForm.explanation" placeholder="추억 메모를 입력하세요.">
	</div>
	<div class="form-button-wrapper">
		<a ng-if="mode == 'add'" ng-click="addMemory()" class="btn btn-default btn-sm">
			<span class="glyphicon glyphicon-ok"></span>
		</a>
		<a ng-if="mode == 'modify'" ng-click="modifyMemory()" class="btn btn-default btn-sm">
			<span class="glyphicon glyphicon-ok"></span>
		</a>
	</div>
</form>