<!-- <pre>{{memorys | json}}</pre>
<pre>{{categorys | json}}</pre> -->

<!-- 마스크 -->
<div id="mask" ng-click="closeCategoryMenu($event)"></div>
<!-- 추억 영역 -->
<div id="memory-area">
	
	<!-- 추억들 -->
	<div id="columns" ng-if="memorys.length != 0">
		<div ng-repeat="memory in memorys">
			<figure class="figure" ng-mouseover="showMemoryExplanation()">
				<!-- <div>
					{{memory.explanation}}
				</div> -->
				<div ng-if="memory.categoryName" class="memory-category-name">
					{{memory.categoryName}}
				</div>
				<a ng-click="detailMemory($index)">
					<img ng-src="{{memory.url}}">
					<figcaption>
						{{memory.explanation}}
					</figcaption>
				</a>
				<div class="memory-button-area">
					<a ui-sref="memoryForm({mode: 'modify', id: memory._id})" class="btn btn-default btn-md">
						<span class="glyphicon glyphicon-pencil"></span>
					</a>
					<a ng-click="deleteMemory(memory._id)" class="btn btn-default btn-md">
						<span class="glyphicon glyphicon-trash"></span>
					</a>
				</div>
			</figure>
		</div>
	</div>
	<div id="columns" ng-if="memorys.length == 0">
		<figure>
			<img src="http://vignette3.wikia.nocookie.net/shokugekinosoma/images/6/60/No_Image_Available.png/revision/latest?cb=20150708082716">
		</figure>
	</div>
</div>
<!-- 카테고리 버튼 토글 -->
<div id="category-toggle-area">
	<div ng-click="openCategoryMenu()" class="category-toggle-btn"></div>
	<div id="category-menu-area">
		<div ng-repeat="category in categorys" class="category-area">
			<a ng-click="filterMemorys(category._id)">
				<div class="category">
					<span>
						<br/>
						[ {{category.name}} ]
						<br/>
						<span class="glyphicon glyphicon glyphicon-picture"></span> x {{category.memoryCnt}}
					</span>	
				</div>
			</a>
			<div class="category-button-area" ng-if="category._id != 0">
				<a ui-sref="categoryForm({mode: 'modify', id: category._id})" class="btn btn-default btn-xs">
					<span class="glyphicon glyphicon-pencil"></span>
				</a>
				<a ng-click="deleteCategory(category._id)" class="btn btn-default btn-xs">
					<span class="glyphicon glyphicon-trash"></span>
				</a>
			</div>
		</div>
	</div>
</div>
<!-- 추가 버튼 영역 -->
<div id="add-button-area">
	<a class="add-button" ui-sref="categoryForm({mode: 'add'})" title="추억상자 추가">
		<img src="http://www.flaticon.com/premium-icon/icons/svg/200/200962.svg">
	</a>
	<a class="add-button" ui-sref="memoryForm({mode: 'add'})" title="추억 추가">
		<img src="http://image.flaticon.com/icons/svg/200/200956.svg">
	</a>
</div>

<!-- 추억 상세 modal -->
<modal class="memory-modal" visible="showModal">
	<div ng-if="memoryIndex != 0" ng-click="previousMemory()">
		<span class="glyphicon glyphicon glyphicon-chevron-left"></span>
	</div>
	<div>
		<img ng-src="{{memoryDetail.url}}">
	</div>
	<div ng-if="memorys.length != memoryIndex+1" ng-click="nextMemory()">
		<span class="glyphicon glyphicon glyphicon-chevron-right"></span>
	</div>
	<!-- <div class="modal-button-area">
		<a ui-sref="memoryForm({mode: 'modify', id: memoryDetail._id})" class="btn btn-default btn-md">
			<span class="glyphicon glyphicon-pencil"></span>
		</a>
		<a ng-click="deleteMemory(memoryDetail._id)" class="btn btn-default btn-md">
			<span class="glyphicon glyphicon-trash"></span>
		</a>
	</div> -->
</modal>